<ion-content color="warning">
  <ion-card>
    <img class="icon" />
    <ion-card-header>
      <img [src]="urlImg" class="img">
      <ion-card-subtitle>
        <ion-card-subtitle>Sala: {{infoTurma.salaTurma}}</ion-card-subtitle>
        <ion-card-title>{{infoTurma.nomeTurma}}</ion-card-title>
        <ion-item class="item" lines="none">
          Código da turma: {{infoTurma.codigoTurma}}
        </ion-item>
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Olá, {{infoTurma.emailProfessor}}! Aqui é seu ambiente de criação, construa jornadas desafiantes para seus
      aprendizes!
    </ion-card-content>
    <ion-item color="light" (click)="adicionarTemas()">
      Compartilhe um desafio com sua turma...
      <ion-icon (click)="adicionarTemas()" name="add"></ion-icon>
    </ion-item>

  </ion-card>

  <ion-list *ngFor="let desafio of desafios" color="warning">
    <ion-item>
      <ion-thumbnail slot="start">
        <img [src]="urlImg" />
      </ion-thumbnail>
      <ion-label>Desafio: {{desafio.Tema}}</ion-label>
    </ion-item>
  </ion-list>

</ion-content>