ion-card{
    --background: #ffffff;
}

ion-card-header{
    --background:rgba(35, 31, 32, 0.79);
    --color: rgb(238, 161, 20);
   
}

ion-card-subtitle{
    --color: #ffffff; 
}

ion-fab-button{
    --background: rgba(243, 135, 43, 0.81);
  
  }
  

  
  .label{
    font-size: larger;
    position: absolute;
              right: 48px;
              background: rgba(0,0,0,0.7);
              height: 24px;
              line-height: 16px;
              padding-left: 8px;
              padding-right: 8px;
              padding-top: 5px;
              padding-bottom: 5px;
              border-radius: 3px;
              color: #fff;
              box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.14), 0 4px 5px rgba(0, 0, 0, 0.1);
  }


ion-item {
    top: 0px;
   --background: rgba(243, 135, 43, 0.38);
   --border-radius: 30px;
}

a {
   --background: rgba(243, 135, 43, 0.38);
}
ion-label {
   --background: rgba(0, 0, 0);
}