ion-card-header{
    --background: rgb(238, 161, 20);
    --color: #ffffff;

}

.img{
    max-width: 50px;
}

ion-row {
    top: 0%;
    position: absolute;
    height: 80%;
    width: 100%;
    left: 1%;
    right: 77.42%;
    bottom: 88.6%;
  }
  
  ion-refresher ion-refresher-content {
    background: #FFF !important;
   --color: #000;
   
  }
  

  