<ion-header>
  <ion-toolbar>
    <ion-title>Turmas</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="presentAlertPrompt()">
        <ion-icon src="../assets/icon/add-outline.svg"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="listarTurmas()" color="warning">
  Listar turmas
  </ion-button>

  <ion-list *ngFor = "let turma of turmasEstudante">
    <ion-card (click)="verTurma(turma.id, turma.Nome, turma.Sala, turma.Descricao, turma.Codigo)">
      <ion-card-header>
        <img class="icon" class="img" [src]="urlImg"/>
        <ion-card-subtitle>Sala: {{turma.Sala}}</ion-card-subtitle>
        <ion-card-title>{{turma.Nome}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
       {{turma.Descricao}}
      </ion-card-content>
    </ion-card>
  </ion-list>


</ion-content>
