<ion-header>
  <ion-toolbar>
    <ion-title>
      PERFIL
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form  class="form">
    <ion-avatar>
      <img src="../assets/images/semFoto.png" width="150" height="150" class="center" alt="">
    </ion-avatar>
    <button (click)="optionC()">Mudar Foto</button>

    <!-- <ion-fab vertical="top" horizontal="start" slot="fixed" position=fixed>
      <ion-fab-button >
        <img class="circle-pic" [src]="imagemUsuario">
      </ion-fab-button>
      <ion-fab-list side="end">
        <ion-fab-button>
          <ion-icon name="camera" (click)="carregarFoto(1)"></ion-icon>
        </ion-fab-button>
        <ion-fab-button>
          <ion-icon name="image" (click)="carregarFoto(0)"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>
    <ion-label size="12px">
      <h3>Escolha uma foto para seu perfil</h3>
    </ion-label> -->
    
    <ion-item>
    <ion-label color="danger">{{emailEstudante}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="pontos">Pontuação: {{pontos}} </ion-label>
    </ion-item>  
    <div *ngIf="option == 'sim'">
      <ion-item>
        <ion-avatar>
          <img src="../assets/images/001-astronaut.png" width="150" height="150" class="center" alt="" (click)="mudarFoto(1)">
        </ion-avatar>
      </ion-item>
    </div>
  </form>

</ion-content>
