ion-content{
    background: rgba(243, 135, 43, 0.38);
}

ion-title{
    align-items: center;
    margin-left: 100px;
}
img {
    margin-top: 15px;
    align-items: center;
    margin-left: 75px;
    margin-right: auto;
    border-radius: 30px;
}
ion-label{
    margin-top: 25px;
    align-items: center;
    margin-left: 90px;
    margin-right: auto;
}

.pontos {
    margin-top: 25px;
    align-items: center;
    margin-left: 80px;
    margin-right: auto; 
}