<ion-header>
  <ion-toolbar>
    <ion-title>
      Universo de descobertas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    
    <!-- <ion-card class="welcome-card">
      <img src="/assets/logoQuantico.jpeg" alt="" />
      <ion-card-header>
        <ion-card-subtitle>Vamos começar</ion-card-subtitle>
        <ion-card-title>Bem vindo ao Quântico</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Now that your app has been created, you'll want to start building out features and components. Check out some of the resources below for next steps.</p>
      </ion-card-content>
    </ion-card> -->

    <ion-grid>
      <ion-row>
        <ion-col *ngFor = "let fase of fases" >
          <div>
            <img class="img" [src]="fase.imagem">
            <ion-fab>
              <ion-fab-button (click)="abrirDesafio(fase.numero)" >
                <span *ngIf="fase.habilitado" >
                  {{fase.numero}}
                </span>
                <span *ngIf="!fase.habilitado">
                  lock
                </span>
              </ion-fab-button>
            </ion-fab>
          </div>

        </ion-col>
      </ion-row>
    </ion-grid>

   
   
</ion-content>
