welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}


.img{
  max-width: 30px;
}

ion-fab-button{
  --background: rgba(243, 135, 43, 0.81);

}

.ion-color{
  --background: black;
}


.label{
  font-size: larger;
}


.pos{
  position: absolute;
  left: 4.71%;
  right: 77.42%;
  top: 0%;
  bottom: 88.6%;
}