<ion-header>
  <ion-toolbar>
    <ion-title class="titulo">
      Universo de descobertas
    </ion-title>
    <ion-icon (click)="sair()" class="sair" slot="end" src="../assets/icon/log-out-outline.svg"></ion-icon>
  </ion-toolbar>
  <ion-item>
    <ion-label>Modo Planeta Escuro</ion-label>
    <!-- <ion-img [src]="assets/images/astrology.png"></ion-img> -->
    <ion-toggle (ionChange)="change($event)" color="dark"></ion-toggle>
  </ion-item>
</ion-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Puxe para atualizar" refreshingSpinner="circles"
      refreshingText="Atualizando...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let fase of fases let i=index;" size=4>
        <img [src]="fase.imagem" class="img">
        <ion-fab>
          <div *ngIf="fase.habilitado">
            <ion-fab-button (click)="abrirDesafio(fase.numero)">
              <ion-label *ngIf="fase.habilitado" class="label">
                {{fase.numero}}
              </ion-label>
            </ion-fab-button>
          </div>
          <div *ngIf="!fase.habilitado">
            <ion-fab-button disabled>
              <ion-icon src="../assets/icon/lock1.svg"></ion-icon>
            </ion-fab-button>
          </div>
        </ion-fab>
      </ion-col>
    </ion-row>
  </ion-grid>








</ion-content>