<ion-header>
  <ion-toolbar>
    <ion-title>
      Universo de descobertas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Puxe para atualizar" refreshingSpinner="circles"
      refreshingText="Atualizando...">
    </ion-refresher-content>
  </ion-refresher>


  <!-- <ion-card class="welcome-card">
      <img src="/assets/logoQuantico.jpeg" alt="" />
      <ion-card-header>
        <ion-card-subtitle>Vamos começar</ion-card-subtitle>
        <ion-card-title>Bem vindo ao Quântico</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Now that your app has been created, you'll want to start building out features and components. Check out some of the resources below for next steps.</p>
      </ion-card-content>
    </ion-card> -->

  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let fase of fases let i=index;" size=4>
        <img [src]="fase.imagem" class="img">
        <ion-fab>
          <div *ngIf="fase.habilitado">
            <ion-fab-button (click)="abrirDesafio(fase.numero)">
              <ion-label *ngIf="fase.habilitado" class="label">
                {{fase.numero}}
              </ion-label>
            </ion-fab-button>
          </div>
          <div *ngIf="!fase.habilitado">
            <ion-fab-button disabled>
              <ion-icon src="../assets/icon/lock1.svg"></ion-icon>
            </ion-fab-button>
          </div>
        </ion-fab>
      </ion-col>
    </ion-row>
  </ion-grid>





</ion-content>