<ion-header>
  <ion-toolbar>
    <ion-title>
      Notificações
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 <!--  <form  class="form">
    <ion-button (click)="single_notification()">
      Single Notification
    </ion-button>
    
    <ion-button (click)="multi_notification()">
      Multi Notifcations
    </ion-button>
    
    <ion-button (click)="delayed_notification()">
      Delayed Notification
    </ion-button>
   
    <ion-item>
      <ion-label color="danger">{{notificacao}}</ion-label>
      </ion-item>
  </form>
 --></ion-content>