<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>


  <ion-item>
    <ion-label>Modo Planeta Escuro</ion-label>
    <!-- <ion-img [src]="assets/images/astrology.png"></ion-img> -->
    <ion-toggle></ion-toggle>
  </ion-item>

 

  <ion-slides>

    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle color="light">{{titulo}}</ion-card-subtitle>
        </ion-card-header>
        <ion-item lines="none">
          <ion-card-content>
            <div class="screen" *ngFor="let q of questions$ | async">
              <div class="body">
                <p class="question">{{ q.question }}</p>
              </div>

            </div>
          </ion-card-content>
        </ion-item>
        <ion-item color="tertiary" lines="none">
          <ion-label position="fixed" value="desafio">Desafio</ion-label>
          <img slot="end" class="img" [src]="ulrImgContinuar" (click)="next()">
        </ion-item>



      </ion-card>


    </ion-slide>

    <ion-slide>
      <ion-card>
        <div class="screen" *ngFor="let desafio of desafio$ | async">
          <ion-card-header>
            <img class="icon" src="{{desafio.imagem}}" />
            <ion-card-subtitle class="question">{{desafio.question}}</ion-card-subtitle>
          </ion-card-header>
          <ion-item *ngFor="let opts of desafio.options" class="option">
            <ion-card-content (click)="callAnime(opts.letra)">
              <span> {{opts.letra}} .</span>
              {{opts.option}}
            </ion-card-content>
          </ion-item>
          <ion-item *ngIf="respondeu" (click)='next()'>
            <div class="animate-me" #box>
              <img width="200" height="200" [src]="ulrImgContinuar" />
            </div>
            <label>
              {{messagemResposta}}
            </label>
          </ion-item>
        </div>
      </ion-card>
    </ion-slide>


    <ion-slide *ngIf="respondeuCerto">
      <ion-card>
        <ion-card-header>
          Como recompensa por sua maestria neste desafio, ouça uma música que irá lhe ajudar nessa jornada!
        </ion-card-header>
        <video width="240" height="240" controls>
          <source [src]="urlVideo" type="video/mp4">
        </video>
        <ion-card-content>
          <ion-item (click)="voltarHome()">
            <p> A nova fase já está habilitada! Venha conferir.</p>
          </ion-item>
        </ion-card-content>
       
      </ion-card>
      
    </ion-slide>


    <ion-slide *ngIf="respondeuErrado">
      <ion-card>
        <div class="screen" *ngFor="let desafio of desafio$ | async">
          <ion-card-header>
            <img class="icon1" src="{{desafio.imagem1}}" />
            <p>Complete a frase abaixo de acordo com o texto</p>
            <label>
              {{frase}}
            </label>
            <ion-item>
              <ion-input class="reposta" type="text" [(ngModel)]="respostaTexto"></ion-input>
            </ion-item>
            <ion-button type="submit" (click)="compararResposta()">Responder</ion-button>
          </ion-card-header>
          <ion-item *ngIf="respondeuSegunda" (click)='next()'>
            <div class="animate-me" #box>
              <img width="200" height="200" class="center" alt="" [src]="ulrImgContinuar" />
            </div>
            <label>
              {{messagemResposta}}
            </label>
          </ion-item>
        </div>

      </ion-card>
    </ion-slide>

    <ion-slide *ngIf="respondeuErrado2">
      <ion-card>
        <div class="screen" *ngFor="let desafio of desafio$ | async">
          <ion-card-header>
            <img class="icon1" src="{{desafio.imagem1}}" />
            <p>Encontre os pares das figuras</p>
            <ion-button class="botao" color="light" expand="block" routerLink="{{level}}" routerDirection="forward">Jogo
              da Memoria</ion-button>
          </ion-card-header>
        </div>
      </ion-card>
    </ion-slide>

  </ion-slides>


  <ion-tabs>

    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="tab1">
        <ion-icon src="../assets/icon/home-outline.svg"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="tab2">
        <ion-icon src="../assets/icon/person-outline.svg"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="tab4">
        <ion-icon src="../assets/icon/school-outline.svg"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="tab3">
        <ion-icon src="../assets/icon/notifications-outline.svg"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>

  </ion-tabs>

</ion-content>