<ion-header>
  <ion-toolbar>
    <ion-title>DesafioPage</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Modo Planeta Escuro</ion-label>
    <!-- <ion-img [src]="assets/images/astrology.png"></ion-img> -->
    <ion-toggle [(ngModel)]="sausage" ></ion-toggle>
  </ion-item>

  <div class="screen" *ngFor="let q of questions$ | async">

    <div class="header">
        <p class="steps">{{ totalQuestions }} / {{ q.id }}</p>
    </div>

    <div class="body">
        <p class="question">{{ q.question }}</p>
    </div>

</div>
</ion-content>
