<ion-header>
  <ion-footer>
    <ion-toolbar>
      <ion-title>Minhas turmas</ion-title>
      <ion-icon (click)="sair()" slot="end" class="sair" src="../assets/icon/log-out-outline.svg"></ion-icon>
    </ion-toolbar>
  </ion-footer>
</ion-header>

<ion-content>

  <ion-list *ngFor = "let turma of turmas">
    <ion-card (click)="verTurma(turma.id, turma.Nome, turma.Sala, turma.Descricao, turma.Codigo)">
      <ion-card-header>
        <img class="icon" class="img" [src]="urlImg"/>
        <ion-card-subtitle>Sala: {{turma.Sala}}</ion-card-subtitle>
        <ion-card-title>{{turma.Nome}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
       {{turma.Descricao}}
      </ion-card-content>
    </ion-card>
  </ion-list>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color='warning'>
      <ion-icon (click)="adicionarTurma()" name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>