ion-title {
    --background: #ffffff;
    --color:rgb(238, 161, 20);
    align-content: center;
    margin-left: 40px;
}

.titulo {
    --background: rgb(238, 161, 20);
    --color: #ffffff;
    align-content: center;
    margin-left: 40px;

}

.tentativa {
    align-content: center;
    margin-left: 40px;

}

.inicio {
    align-content: center;
    margin-left: 40px;
}

.botao {
    --background:  #ffffff;
    color: #ffffff;
}